In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [66]:
b = pd.read_csv('/home/dsc/Downloads/Basecamp Download/bookings.csv.bz2', 
                sep='^', 
                nrows=1e5,
                usecols=['brd_time           ','brd_port','off_port'],
                parse_dates = ['brd_time           ']
               )

In [67]:
b.columns

Index([u'brd_port', u'off_port', u'brd_time           '], dtype='object')

In [68]:
b['date']=b['brd_time           ']

In [69]:
b = b.drop('brd_time           ', axis=1)

In [70]:
b.sample(5)

       brd_port  off_port                date
72475  WAW       WRO      2013-04-02 19:20:00
87490  ORD       MIA      2013-01-10 09:00:00
56078  KBV       BKK      2013-06-14 10:10:00
2463   YYZ       PHX      2013-03-10 11:30:00
78969  IAH       LIR      2013-02-03 09:00:00

In [71]:
s = pd.read_csv('/home/dsc/Downloads/Basecamp Download/searches.csv.bz2',
                usecols=['Origin','Destination','Seg1Date'],
                sep = '^',
                parse_dates=['Seg1Date'],
                nrows = 1e5)

In [72]:
s.sample(5)

      Origin Destination   Seg1Date
45660    KRK         LWO 2013-05-31
2377     CPH         LON 2013-03-01
30588    BOG         FLL 2013-03-25
53846    SYD         PEK 2013-09-06
24555    YEA         JED 2013-02-15

In [73]:
b['dateNoTime']=b.date.apply(lambda t: t.date())

In [74]:
s['dateNoTime']=s.Seg1Date.apply(lambda t: t.date())

In [84]:
m = pd.merge(s.dropna(),b.dropna(),
             how = 'left', 
             left_on=['Origin','Destination', 'dateNoTime'], 
             right_on=['brd_port','off_port','dateNoTime']
            )

In [85]:
m['match'] = m.brd_port.apply(lambda b: not pd.isnull(b))

In [86]:
m.sample()

      Origin Destination   Seg1Date  dateNoTime brd_port off_port  match
90400    WAS         CVG 2013-05-16  2013-05-16      NaN      NaN  False

In [87]:
m.groupby('match').count()

       Origin  Destination  Seg1Date  dateNoTime  brd_port  off_port
match
False   99605        99605     99605       99605         0         0