In [18]:
import pandas as pd
import bz2
from pandas import DataFrame

In [21]:
df = pd.read_csv('bookings.csv.bz2',sep='^',chunksize=1e5)

In [17]:
esLaPrimera = True
for chunk in df:
    sumchunk = chunk.groupby('arr_port').pax.sum().reset_index()
    if esLaPrimera:
        s = sumchunk
        esLaPrimera = False
    else:
        s = pd.concat([s,sumchunk])

s.groupby('arr_port').pax.sum().sort_values(ascending=False).head(10)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

/usr/lib/python2.7/site-packages/ipykernel/ipkernel.py:175: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  shell.run_cell(code, store_history=store_history, silent=silent)

arr_port
LHR         88809
MCO         70930
LAX         70530
LAS         69630
JFK         66270
CDG         64490
BKK         59460
MIA         58150
SFO         58000
DXB         55590
Name: pax, dtype: float64

In [22]:
s = pd.read_csv('bookings.csv.bz2',sep='^',nrows=0)
x=0
for chunk in df:
    x=x+1
    sumchunk = chunk.groupby('arr_port').pax.sum().reset_index()
    s = s.append(sumchunk)
    print x
    
s.groupby('arr_port').pax.sum().sort_values(ascending=False).head(10)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

KeyboardInterrupt:

In [53]:
df2 = pd.read_csv('bookings.csv.bz2',sep='^',usecols=['arr_port','pax'],chunksize=1e5)

In [54]:
s = pd.read_csv('bookings.csv.bz2',sep='^',nrows=0, usecols=['arr_port','pax'])

In [46]:
for chunk in df2:
    sumchunk = chunk.groupby('arr_port').pax.sum().reset_index()
    s = s.append(sumchunk,ignore_index=True)

s.groupby('arr_port').pax.sum().sort_values(ascending=False).reset_index().head(10)

   arr_port    pax
0  LHR       88809
1  MCO       70930
2  LAX       70530
3  LAS       69630
4  JFK       66270
5  CDG       64490
6  BKK       59460
7  MIA       58150
8  SFO       58000
9  DXB       55590

In [55]:
for chunk in df2:
    sumchunk = chunk.groupby('arr_port').pax.sum().reset_index()
    s = pd.concat([s,sumchunk],ignore_index=True)

s.groupby('arr_port').pax.sum().sort_values(ascending=False).reset_index().head(10)

   arr_port    pax
0  LHR       88809
1  MCO       70930
2  LAX       70530
3  LAS       69630
4  JFK       66270
5  CDG       64490
6  BKK       59460
7  MIA       58150
8  SFO       58000
9  DXB       55590