In [1]:
import pandas as pd

In [2]:
import zipfile

In [3]:
zip_file = zipfile.ZipFile('/home/dsc/Downloads/ml-1m.zip')

In [4]:
!unzip -l '/home/dsc/Downloads/ml-1m.zip'

Archive:  /home/dsc/Downloads/ml-1m.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
        0  03-31-2015 23:16   ml-1m/
   171308  03-26-2003 22:18   ml-1m/movies.dat
 24594131  02-28-2003 22:53   ml-1m/ratings.dat
     5197  03-31-2015 23:16   ml-1m/README
   134368  02-28-2003 22:53   ml-1m/users.dat
---------                     -------
 24905004                     5 files

In [5]:
moviescsv = zip_file.open('ml-1m/movies.dat')

In [6]:
ratingscsv = zip_file.open('ml-1m/ratings.dat')

In [7]:
userscsv = zip_file.open('ml-1m/users.dat')

In [8]:
unames=['user_id','gender','age','occupation','zip']

In [9]:
users= pd.read_table(userscsv,sep='::',names=unames,header=None)

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [10]:
rnames=['user_id','movie_id','rating','timestamp']

In [11]:
ratings= pd.read_table(ratingscsv,sep='::',names=rnames,header=None)

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [12]:
mnames=['movie_id','title','genres']

In [13]:
movies= pd.read_table('/home/dsc/Downloads/ml-1m/movies.dat', sep='::', header=None, names=mnames)

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [14]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [15]:
data = pd.merge(pd.merge(ratings,users),movies)

In [16]:
data.ix[0]

user_id                                            1
movie_id                                        1193
rating                                             5
timestamp                                  978300760
gender                                             F
age                                                1
occupation                                        10
zip                                            48067
title         One Flew Over the Cuckoo's Nest (1975)
genres                                         Drama
Name: 0, dtype: object

In [17]:
data.head(1)

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama

In [18]:
ratings_by_title = data.groupby('title').size()

In [19]:
ratings_by_title[:10]

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [20]:
active_titles = ratings_by_title.index[ratings_by_title>=250]

In [21]:
active_titles

Index([u''burbs, The (1989)', u'10 Things I Hate About You (1999)',
       u'101 Dalmatians (1961)', u'101 Dalmatians (1996)',
       u'12 Angry Men (1957)', u'13th Warrior, The (1999)',
       u'2 Days in the Valley (1996)', u'20,000 Leagues Under the Sea (1954)',
       u'2001: A Space Odyssey (1968)', u'2010 (1984)',
       ...
       u'X-Men (2000)', u'Year of Living Dangerously (1982)',
       u'Yellow Submarine (1968)', u'You've Got Mail (1998)',
       u'Young Frankenstein (1974)', u'Young Guns (1988)',
       u'Young Guns II (1990)', u'Young Sherlock Holmes (1985)',
       u'Zero Effect (1998)', u'eXistenZ (1999)'],
      dtype='object', name=u'title', length=1216)

In [34]:
data.groupby('title')['rating'].sum().sort_values(inplace=False, ascending=False)

title
American Beauty (1999)                                                   14800
Star Wars: Episode IV - A New Hope (1977)                                13321
Star Wars: Episode V - The Empire Strikes Back (1980)                    12836
Star Wars: Episode VI - Return of the Jedi (1983)                        11598
Saving Private Ryan (1998)                                               11507
Raiders of the Lost Ark (1981)                                           11257
Silence of the Lambs, The (1991)                                         11219
Matrix, The (1999)                                                       11178
Sixth Sense, The (1999)                                                  10835
Terminator 2: Judgment Day (1991)                                        10751
Fargo (1996)                                                             10692
Schindler's List (1993)                                                  10392
Braveheart (1995)                                                        10346
Back to the Future (1985)                                                10307
Shawshank Redemption, The (1994)                                         10143
Godfather, The (1972)                                                    10059
Jurassic Park (1993)                                                     10057
Princess Bride, The (1987)                                                9976
Shakespeare in Love (1998)                                                9778
L.A. Confidential (1997)                                                  9654
Men in Black (1997)                                                       9492
Pulp Fiction (1994)                                                       9288
Being John Malkovich (1999)                                               9245
Groundhog Day (1993)                                                      9005
E.T. the Extra-Terrestrial (1982)                                         8997
Forrest Gump (1994)                                                       8969
Terminator, The (1984)                                                    8711
Toy Story (1995)                                                          8613
Ghostbusters (1984)                                                       8518
Alien (1979)                                                              8419
                                                                         ...
Choices (1981)                                                               2
Lay of the Land, The (1997)                                                  2
Superweib, Das (1996)                                                        2
Small Faces (1995)                                                           2
Love Walked In (1998)                                                        2
Harlem (1993)                                                                2
Cheetah (1989)                                                               1
Nueba Yol (1995)                                                             1
Mutters Courage (1995)                                                       1
Underworld (1997)                                                            1
Terror in a Texas Town (1958)                                                1
Fantastic Night, The (La Nuit Fantastique) (1949)                            1
McCullochs, The (1975)                                                       1
Windows (1980)                                                               1
Little Indian, Big City (Un indien dans la ville) (1994)                     1
White Boys (1999)                                                            1
Shadows (Cienie) (1988)                                                      1
Kestrel's Eye (Falkens ï¿½ga) (1998)                                           1
Loves of Carmen, The (1948)                                                  1
Low Life, The (1994)                                                         1
Lotto Land (1995)                                                            1
Even Dwarfs Started Small (Auch Zwerge haben klein angefangen) (1971)        1
Hillbillys in a Haunted House (1967)                                         1
Silence of the Palace, The (Saimt el Qusur) (1994)                           1
Uninvited Guest, An (2000)                                                   1
Bloody Child, The (1996)                                                     1
Diebinnen (1995)                                                             1
Waltzes from Vienna (1933)                                                   1
Elstree Calling (1930)                                                       1
Sleepover (1995)                                                             1
Name: rating, dtype: int64

In [41]:
mean_ratings = data.pivot_table(index=['title'],values='rating',columns='gender',aggfunc='mean')

In [42]:
mean_ratings = mean_ratings.ix[active_titles]

In [46]:
top_female_ratings = mean_ratings.sort_values(by='F',inplace=False, ascending=False)

In [47]:
top_female_ratings.head()

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415

In [48]:
mean_ratings['diff']=mean_ratings['M']-mean_ratings['F']

In [51]:
sorted_by_diff = mean_ratings.sort_values(by='diff',inplace=False)

In [53]:
sorted_by_diff.head(10)

gender                                        F         M      diff
title
Dirty Dancing (1987)                   3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)              3.254717  2.578358 -0.676359
Grease (1978)                          3.975265  3.367041 -0.608224
Little Women (1994)                    3.870588  3.321739 -0.548849
Steel Magnolias (1989)                 3.901734  3.365957 -0.535777
Anastasia (1997)                       3.800000  3.281609 -0.518391
Rocky Horror Picture Show, The (1975)  3.673016  3.160131 -0.512885
Color Purple, The (1985)               4.158192  3.659341 -0.498851
Age of Innocence, The (1993)           3.827068  3.339506 -0.487561
Free Willy (1993)                      2.921348  2.438776 -0.482573

In [57]:
sorted_by_diff[::-1][:15]

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801
Caddyshack (1980)                       3.396135  3.969737  0.573602
For a Few Dollars More (1965)           3.409091  3.953795  0.544704
Porky's (1981)                          2.296875  2.836364  0.539489
Animal House (1978)                     3.628906  4.167192  0.538286
Exorcist, The (1973)                    3.537634  4.067239  0.529605
Fright Night (1985)                     2.973684  3.500000  0.526316
Barb Wire (1996)                        1.585366  2.100386  0.515020