In [17]:
import pandas as pd

In [48]:
df = pd.read_csv('bookings.csv.bz2', nrows=1e5, sep='^')

In [49]:
len(df)

100000

In [20]:
df.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
71821,2013-03-15 00:00:00,1G,GB,8cec3b4884bffe8f476109fe9f76135e,24141995f88440b6c2e177ff580dd4fe,d3fb4914d281e05e390b9a2f05c04190,2013-03-15 00:00:00,51750,0,LHR,...,LAXSYD,BP,S,Y,2013-09-28 22:10:00,2013-09-30 06:08:50,2,2013,3,NULL
21181,2013-01-25 00:00:00,1V,US,73d2bd747515516040ec806a72ff7fb2,0ea791cd1d8b35e744dc1a3f0e2191a0,81373d4ec5eee9b254a54d75318d884d,2013-01-23 00:00:00,1371,0,ORD,...,LGAORD,KK,K,Y,2013-01-25 18:20:00,2013-01-25 19:31:02,1,2013,1,NULL
81838,2013-03-21 00:00:00,1S,US,7e22f22aff7bd6231f3362bcfe4bc267,511e02785b75341fc3d0e6857e650426,b67f961eeaddbc9b8e45946caee4b884,2013-03-21 00:00:00,10676,0,DAY,...,DAYCLTFPO,FD,L,Y,2013-06-20 09:23:00,2013-06-20 13:42:33,3,2013,3,NULL
84143,2013-01-24 00:00:00,1S,IT,9222ab44126311c65b4965519830863d,fe2d33137a16f8699c5dbd92c37df6ab,d4a663af660b67b9914204bf209ab726,2013-01-24 00:00:00,26289,0,FCO,...,FCOLHRLAX,LK,T,Y,2013-08-06 08:15:00,2013-08-06 15:10:54,4,2013,1,NULL
82977,2013-05-02 00:00:00,1S,US,d0805f11c396525bbb3116f47fb8e7ba,12fee284d636bd4ca3374c55c5507ce9,a85e742401218ea087adcf44c99ea73a,2013-05-02 00:00:00,31899,0,CLT,...,CLTATLCDGKBP,KP,Q,Y,2013-09-21 17:00:00,2013-09-22 17:31:22,2,2013,5,NULL

In [50]:
dfarr = df.groupby('arr_port')

In [54]:
s= dfarr.pax.sum()

In [30]:
paxdf = dfarr['pax'].sum()

In [35]:
paxdf.sort_values(ascending=False).head()

arr_port
LHR         1006
MCO          861
JFK          795
LAX          761
BKK          747
Name: pax, dtype: int64

In [34]:
df2 = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['arr_port','pax'])

In [38]:
df2.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

In [41]:
dfarr = df2.groupby('arr_port')

In [44]:
paxdf = dfarr['pax'].sum()

In [47]:
paxdf.sort_values(ascending=False).head(10)

arr_port
LHR         88809
MCO         70930
LAX         70530
LAS         69630
JFK         66270
CDG         64490
BKK         59460
MIA         58150
SFO         58000
DXB         55590
Name: pax, dtype: float64