### Ejercicio Media de edad

In [1]:
ps = [('Pepe','M',32),
     ('Veronica','F',37),
     ('Juan','M',28)]

In [2]:
ps

[('Pepe', 'M', 32), ('Veronica', 'F', 37), ('Juan', 'M', 28)]

In [3]:
rdd = sc.parallelize(ps)

In [4]:
rdd

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:423

In [5]:
rdd.collect()

[('Pepe', 'M', 32), ('Veronica', 'F', 37), ('Juan', 'M', 28)]

In [6]:
import math

In [7]:
[x[2] for x in ps]

[32, 37, 28]

In [8]:
sum([x[2] for x in ps])/3

32

In [11]:
# equivalencia a sum([x[2] for x in ps])/3 con map
rdd.map(lambda x: x[2]).mean()

32.333333333333336

In [12]:
kv = rdd.map(lambda x: (x[1],x[2]))

In [13]:
kv.collect()

[('M', 32), ('F', 37), ('M', 28)]

In [14]:
kv.groupByKey().collect()

[('M', <pyspark.resultiterable.ResultIterable at 0x7f61a02f35d0>),
 ('F', <pyspark.resultiterable.ResultIterable at 0x7f61a02f38d0>)]

In [21]:
kv.groupByKey().map(lambda x: (x[0],sum(x[1])/len(x[1]))).collect()

[('M', 30), ('F', 37)]

In [19]:
#Lo anterior se puede escribir mas facil con mapValues
kv.groupByKey().mapValues(lambda vs: sum(vs)/len(vs)).collect()

[('M', 30), ('F', 37)]