In [3]:
path_to_zips = '/home/dsc/Data/us_dot/otp/'

In [2]:
!ls

opentraveldata	README.md  Untitled.ipynb  us_dot

In [5]:
!ls -l -h {path_to_zips}

total 186M
-rw-r--r--. 1 dsc dsc 22M nov  8 14:10 On_Time_On_Time_Performance_2015_1.zip
-rw-r--r--. 1 dsc dsc 21M nov  8 14:10 On_Time_On_Time_Performance_2015_2.zip
-rw-r--r--. 1 dsc dsc 24M nov  8 14:10 On_Time_On_Time_Performance_2015_3.zip
-rw-r--r--. 1 dsc dsc 23M nov  8 14:10 On_Time_On_Time_Performance_2015_4.zip
-rw-r--r--. 1 dsc dsc 24M nov  8 14:10 On_Time_On_Time_Performance_2015_5.zip
-rw-r--r--. 1 dsc dsc 25M nov  8 14:10 On_Time_On_Time_Performance_2015_6.zip
-rw-r--r--. 1 dsc dsc 25M nov  8 14:10 On_Time_On_Time_Performance_2015_7.zip
-rw-r--r--. 1 dsc dsc 25M nov  8 14:10 On_Time_On_Time_Performance_2015_8.zip

In [6]:
! unzip -l {path_to_zips}On_Time_On_Time_Performance_2015_1.zip

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
211633432  04-16-2015 20:02   On_Time_On_Time_Performance_2015_1.csv
    12054  04-16-2015 20:02   readme.html
---------                     -------
211645486                     2 files

In [7]:
! unzip -o {path_to_zips}On_Time_On_Time_Performance_2015_1.zip readme.html -d .

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  inflating: ./readme.html

In [10]:
from IPython.display import IFrame

In [11]:
IFrame('readme.html',width=700, height=500)

In [60]:
import zipfile

In [61]:
zip_file = zipfile.ZipFile(path_to_zips + 'On_Time_On_Time_Performance_2015_1.zip')

In [62]:
type(zip_file)

zipfile.ZipFile

In [63]:
csv_file = zip_file.open('On_Time_On_Time_Performance_2015_1.csv')

In [64]:
type(csv_file)

zipfile.ZipExtFile

In [65]:
import pandas as pd

In [66]:
df = pd.read_csv(zip_file.open('On_Time_On_Time_Performance_2015_1.csv'))

In [67]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,7,2015-01-04,AA,19805,AA,N791AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,5,1,2015-01-05,AA,19805,AA,N783AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df = pd.read_csv('/home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.csv')

In [69]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,7,2015-01-04,AA,19805,AA,N791AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,5,1,2015-01-05,AA,19805,AA,N783AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
len(df)

469968

In [71]:
df.count()

Year                  469968
Quarter               469968
Month                 469968
DayofMonth            469968
DayOfWeek             469968
FlightDate            469968
UniqueCarrier         469968
AirlineID             469968
Carrier               469968
TailNum               467186
FlightNum             469968
OriginAirportID       469968
OriginAirportSeqID    469968
OriginCityMarketID    469968
Origin                469968
OriginCityName        469968
OriginState           469968
OriginStateFips       469968
OriginStateName       469968
OriginWac             469968
DestAirportID         469968
DestAirportSeqID      469968
DestCityMarketID      469968
Dest                  469968
DestCityName          469968
DestState             469968
DestStateFips         469968
DestStateName         469968
DestWac               469968
CRSDepTime            469968
                       ...
Div2WheelsOn              27
Div2TotalGTime            27
Div2LongestGTime          27
Div2WheelsOff              9
Div2TailNum                9
Div3Airport                2
Div3AirportID              2
Div3AirportSeqID           2
Div3WheelsOn               2
Div3TotalGTime             2
Div3LongestGTime           2
Div3WheelsOff              0
Div3TailNum                0
Div4Airport                0
Div4AirportID              0
Div4AirportSeqID           0
Div4WheelsOn               0
Div4TotalGTime             0
Div4LongestGTime           0
Div4WheelsOff              0
Div4TailNum                0
Div5Airport                0
Div5AirportID              0
Div5AirportSeqID           0
Div5WheelsOn               0
Div5TotalGTime             0
Div5LongestGTime           0
Div5WheelsOff              0
Div5TailNum                0
Unnamed: 109               0
dtype: int64

In [72]:
escasos = df.count() < 1000

In [73]:
df.columns[escasos]

Index([u'DivReachedDest', u'DivActualElapsedTime', u'DivArrDelay',
       u'DivDistance', u'Div1WheelsOff', u'Div1TailNum', u'Div2Airport',
       u'Div2AirportID', u'Div2AirportSeqID', u'Div2WheelsOn',
       u'Div2TotalGTime', u'Div2LongestGTime', u'Div2WheelsOff',
       u'Div2TailNum', u'Div3Airport', u'Div3AirportID', u'Div3AirportSeqID',
       u'Div3WheelsOn', u'Div3TotalGTime', u'Div3LongestGTime',
       u'Div3WheelsOff', u'Div3TailNum', u'Div4Airport', u'Div4AirportID',
       u'Div4AirportSeqID', u'Div4WheelsOn', u'Div4TotalGTime',
       u'Div4LongestGTime', u'Div4WheelsOff', u'Div4TailNum', u'Div5Airport',
       u'Div5AirportID', u'Div5AirportSeqID', u'Div5WheelsOn',
       u'Div5TotalGTime', u'Div5LongestGTime', u'Div5WheelsOff',
       u'Div5TailNum', u'Unnamed: 109'],
      dtype='object')

In [74]:
df.columns

Index([u'Year', u'Quarter', u'Month', u'DayofMonth', u'DayOfWeek',
       u'FlightDate', u'UniqueCarrier', u'AirlineID', u'Carrier', u'TailNum',
       ...
       u'Div4TailNum', u'Div5Airport', u'Div5AirportID', u'Div5AirportSeqID',
       u'Div5WheelsOn', u'Div5TotalGTime', u'Div5LongestGTime',
       u'Div5WheelsOff', u'Div5TailNum', u'Unnamed: 109'],
      dtype='object', length=110)

In [75]:
cuentas = df.count()
cuentas

Year                  469968
Quarter               469968
Month                 469968
DayofMonth            469968
DayOfWeek             469968
FlightDate            469968
UniqueCarrier         469968
AirlineID             469968
Carrier               469968
TailNum               467186
FlightNum             469968
OriginAirportID       469968
OriginAirportSeqID    469968
OriginCityMarketID    469968
Origin                469968
OriginCityName        469968
OriginState           469968
OriginStateFips       469968
OriginStateName       469968
OriginWac             469968
DestAirportID         469968
DestAirportSeqID      469968
DestCityMarketID      469968
Dest                  469968
DestCityName          469968
DestState             469968
DestStateFips         469968
DestStateName         469968
DestWac               469968
CRSDepTime            469968
                       ...
Div2WheelsOn              27
Div2TotalGTime            27
Div2LongestGTime          27
Div2WheelsOff              9
Div2TailNum                9
Div3Airport                2
Div3AirportID              2
Div3AirportSeqID           2
Div3WheelsOn               2
Div3TotalGTime             2
Div3LongestGTime           2
Div3WheelsOff              0
Div3TailNum                0
Div4Airport                0
Div4AirportID              0
Div4AirportSeqID           0
Div4WheelsOn               0
Div4TotalGTime             0
Div4LongestGTime           0
Div4WheelsOff              0
Div4TailNum                0
Div5Airport                0
Div5AirportID              0
Div5AirportSeqID           0
Div5WheelsOn               0
Div5TotalGTime             0
Div5LongestGTime           0
Div5WheelsOff              0
Div5TailNum                0
Unnamed: 109               0
dtype: int64

In [76]:
type(cuentas)

pandas.core.series.Series

In [31]:
abundantes = cuentas[cuentas > 1000]

In [32]:
abundantes.index

Index([u'Year', u'Quarter', u'Month', u'DayofMonth', u'DayOfWeek',
       u'FlightDate', u'UniqueCarrier', u'AirlineID', u'Carrier', u'TailNum',
       u'FlightNum', u'OriginAirportID', u'OriginAirportSeqID',
       u'OriginCityMarketID', u'Origin', u'OriginCityName', u'OriginState',
       u'OriginStateFips', u'OriginStateName', u'OriginWac', u'DestAirportID',
       u'DestAirportSeqID', u'DestCityMarketID', u'Dest', u'DestCityName',
       u'DestState', u'DestStateFips', u'DestStateName', u'DestWac',
       u'CRSDepTime', u'DepTime', u'DepDelay', u'DepDelayMinutes', u'DepDel15',
       u'DepartureDelayGroups', u'DepTimeBlk', u'TaxiOut', u'WheelsOff',
       u'WheelsOn', u'TaxiIn', u'CRSArrTime', u'ArrTime', u'ArrDelay',
       u'ArrDelayMinutes', u'ArrDel15', u'ArrivalDelayGroups', u'ArrTimeBlk',
       u'Cancelled', u'CancellationCode', u'Diverted', u'CRSElapsedTime',
       u'ActualElapsedTime', u'AirTime', u'Flights', u'Distance',
       u'DistanceGroup', u'CarrierDelay', u'WeatherDelay', u'NASDelay',
       u'SecurityDelay', u'LateAircraftDelay', u'FirstDepTime',
       u'TotalAddGTime', u'LongestAddGTime', u'DivAirportLandings',
       u'Div1Airport', u'Div1AirportID', u'Div1AirportSeqID', u'Div1WheelsOn',
       u'Div1TotalGTime', u'Div1LongestGTime'],
      dtype='object')

In [33]:
df = df[abundantes.index]

In [34]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,7,2015-01-04,AA,19805,AA,N791AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,5,1,2015-01-05,AA,19805,AA,N783AA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
len(df.columns)

71

In [36]:
len(escasos)

110

In [37]:
df.sample(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime
327043,2015,1,1,2,5,2015-01-02,UA,19977,UA,N27724,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
413980,2015,1,1,4,7,2015-01-04,EV,20366,EV,N839AS,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
83594,2015,1,1,4,7,2015-01-04,DL,19790,DL,N663DN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
240362,2015,1,1,28,3,2015-01-28,NK,20416,NK,N614NK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
102539,2015,1,1,13,2,2015-01-13,DL,19790,DL,N964DN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

## Seleccionar columnas que tienen una cadena de texto

In [38]:
df.columns.str.contains('Origin')

array([False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False], dtype=bool)

In [39]:
origin_col_names = df.columns[df.columns.str.contains('Origin')]

In [40]:
df[origin_col_names].sample(5)

,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac
442449,15919,1591902,31834,XNA,"Fayetteville, AR",AR,5,Arkansas,71
254231,11638,1163805,31638,FAT,"Fresno, CA",CA,6,California,91
226024,13232,1323202,30977,MDW,"Chicago, IL",IL,17,Illinois,41
143773,11259,1125903,30194,DAL,"Dallas, TX",TX,48,Texas,74
207069,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82

In [41]:
origin_col_names

Index([u'OriginAirportID', u'OriginAirportSeqID', u'OriginCityMarketID',
       u'Origin', u'OriginCityName', u'OriginState', u'OriginStateFips',
       u'OriginStateName', u'OriginWac'],
      dtype='object')

In [42]:
cols_to_keep = pd.Index(['Origin','OriginCityName','OriginStateName'])

In [43]:
cols_to_drop = origin_col_names.difference(cols_to_keep)

In [44]:
cols_to_drop

Index([u'OriginAirportID', u'OriginAirportSeqID', u'OriginCityMarketID',
       u'OriginState', u'OriginStateFips', u'OriginWac'],
      dtype='object')

In [45]:
df2 = df.drop(cols_to_drop, axis = 1)

In [46]:
df2.sample(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime
396287,2015,1,1,20,2,2015-01-20,EV,20366,EV,N11150,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
323098,2015,1,1,5,1,2015-01-05,UA,19977,UA,N447UA,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
262572,2015,1,1,6,2,2015-01-06,OO,20304,OO,N608SK,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
321783,2015,1,1,8,4,2015-01-08,UA,19977,UA,N75425,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
78381,2015,1,1,3,6,2015-01-03,DL,19790,DL,N940DN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df2.columns

Index([u'Year', u'Quarter', u'Month', u'DayofMonth', u'DayOfWeek',
       u'FlightDate', u'UniqueCarrier', u'AirlineID', u'Carrier', u'TailNum',
       u'FlightNum', u'Origin', u'OriginCityName', u'OriginStateName',
       u'DestAirportID', u'DestAirportSeqID', u'DestCityMarketID', u'Dest',
       u'DestCityName', u'DestState', u'DestStateFips', u'DestStateName',
       u'DestWac', u'CRSDepTime', u'DepTime', u'DepDelay', u'DepDelayMinutes',
       u'DepDel15', u'DepartureDelayGroups', u'DepTimeBlk', u'TaxiOut',
       u'WheelsOff', u'WheelsOn', u'TaxiIn', u'CRSArrTime', u'ArrTime',
       u'ArrDelay', u'ArrDelayMinutes', u'ArrDel15', u'ArrivalDelayGroups',
       u'ArrTimeBlk', u'Cancelled', u'CancellationCode', u'Diverted',
       u'CRSElapsedTime', u'ActualElapsedTime', u'AirTime', u'Flights',
       u'Distance', u'DistanceGroup', u'CarrierDelay', u'WeatherDelay',
       u'NASDelay', u'SecurityDelay', u'LateAircraftDelay', u'FirstDepTime',
       u'TotalAddGTime', u'LongestAddGTime', u'DivAirportLandings',
       u'Div1Airport', u'Div1AirportID', u'Div1AirportSeqID', u'Div1WheelsOn',
       u'Div1TotalGTime', u'Div1LongestGTime'],
      dtype='object')

In [48]:
df2['FlightNum'].sample(5)

145448     562
329915    1864
143645    2411
115624    1967
99730     1490
Name: FlightNum, dtype: int64

In [49]:
df2['DepTime'].sample(5)

214996    1228
112998    1158
119474    1105
449901     555
67196      915
Name: DepTime, dtype: float64

In [ ]:
### Transformamos lo anterior en horas

In [50]:
int(528.0 / 100)

5

In [51]:
def hora(number):
    return int(number / 100)

In [52]:
df2['DepTime'].fillna(0.0).map(hora)

0          8
1          8
2          8
3          8
4          8
5          8
6          8
7          8
8          9
9          9
10         8
11         8
12         8
13         8
14         8
15         9
16         8
17         9
18         8
19         8
20         8
21         8
22         8
23        10
24         9
25         8
26         0
27         0
28         8
29         8
          ..
469938     5
469939     5
469940     5
469941     5
469942     5
469943     5
469944     5
469945     5
469946     5
469947     5
469948     6
469949     5
469950     5
469951     5
469952     5
469953     5
469954     5
469955     5
469956     5
469957     5
469958     5
469959     5
469960     5
469961     5
469962     5
469963     6
469964     5
469965     5
469966     6
469967     7
Name: DepTime, dtype: int64

In [53]:
df2['DepHour'] = df2['DepTime'].fillna(0.0).map(hora)

In [54]:
df2.sample(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,TotalAddGTime,LongestAddGTime,DivAirportLandings,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,DepHour
160146,2015,1,1,10,6,2015-01-10,WN,19393,WN,N346SW,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,18
330586,2015,1,1,5,1,2015-01-05,US,20355,US,N572UW,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,19
331714,2015,1,1,4,7,2015-01-04,US,20355,US,N555AY,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,7
378982,2015,1,1,28,3,2015-01-28,EV,20366,EV,N14916,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,10
272664,2015,1,1,4,7,2015-01-04,OO,20304,OO,N117SY,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,18

In [55]:
df2[['DepTime','DepHour']].sample(10)

        DepTime  DepHour
354673      949        9
117172     1740       17
127975      756        7
408481      728        7
4749       1327       13
75028      1219       12
61883      1500       15
439850     2243       22
397967      917        9
345106      757        7

In [56]:
df2['DepDelay'].sample(5)

235775   NaN
463011    -4
465148    -4
61370     -7
400049    -3
Name: DepDelay, dtype: float64

In [57]:
delays = df2['DepDelay'].copy()

In [58]:
delays.head()

0    -5
1   -10
2    -7
3    -7
4    -7
Name: DepDelay, dtype: float64

In [59]:
nonetype = delays.sort(ascending = False)

In [109]:
delays.head()

21523     1988
11524     1604
18198     1551
108152    1457
26001     1450
Name: DepDelay, dtype: float64

In [111]:
biggest_delays = delays.head()

In [112]:
biggest_delayed_flights = df2.ix[biggest_delays.index]

In [114]:
biggest_delayed_flights['Carrier']

21523     AA
11524     AA
18198     AA
108152    AA
26001     AA
Name: Carrier, dtype: object

In [115]:
grouped_by_plane = df2.groupby('TailNum')

In [118]:
delays_by_plane = grouped_by_plane['DepDelay'].mean()

In [119]:
mean_delays = delays_by_plane.copy()

In [120]:
mean_delays.sort(ascending = False)

In [121]:
mean_delays.head()

TailNum
N79011    232.0
N228UA    217.5
N707DN    204.0
N651UA    167.0
N776UA    159.0
Name: DepDelay, dtype: float64

In [122]:
means_count = grouped_by_plane['DepDelay'].agg(['mean', 'count'])

In [124]:
means_count.head(5)

              mean  count
TailNum
N001AA    6.852459     61
N002AA    6.118644     59
N003AA   21.866667     60
N004AA    6.300000     70
N005AA   14.676471     68

In [128]:
sorted_mc = means_count.sort('mean',ascending=False)

In [131]:
sorted_mc[sorted_mc['count']>10]

               mean  count
TailNum
N398AA   118.733333     15
N76065   117.416667     12
N5FSAA   105.800000     15
N557AA    85.434783     23
N17104    69.833333     12
N12125    67.235294     34
N189DN    65.800000     20
N619AS    62.125000     16
N639AA    60.312500     16
N502MQ    59.769231     52
N17128    52.666667     36
N387AA    52.500000     28
N345AA    50.941176     17
N41140    50.512195     41
N370AA    50.000000     11
N5FPAA    49.666667     15
N367AA    49.444444     27
N33103    47.481481     27
N79279    47.208333     24
N3767     46.800000     40
N908EV    46.250000     28
N68452    45.535211     71
N874AS    45.454545     77
N5FMAA    43.850000     20
N469AA    43.526316     76
N809MQ    43.032258     31
N607AS    41.833333     12
N210FR    40.728972    107
N227FR    39.593985    133
N110SY    39.433962    106
...             ...    ...
N564UW    -2.311321    106
N16151    -2.363636     11
N762AS    -2.438356     73
N535AS    -2.439560     91
N609AS    -2.598291    117
N577AS    -2.602410     83
N5FJAA    -2.666667     12
N455SW    -2.688235    170
N395HA    -2.702128     47
N397AA    -2.833333     18
N692CA    -2.909091     11
N3AFAA    -2.928571     14
N587AS    -2.986486     74
N383HA    -3.000000     45
N644AS    -3.112903    124
N318AS    -3.223301    103
N779AS    -3.234043     94
N463SW    -3.244094    127
N496CA    -3.285714     70
N796AS    -3.356589    129
N374HA    -3.500000     54
N612AS    -3.508475    118
N183JB    -3.684211     19
N431SW    -3.778689    122
N611AS    -3.837398    123
N659BR    -4.097561    164
N627AS    -4.407767    103
N618AS    -4.526786    112
N299SW    -5.769231     39
N781CA    -5.821918    146

[4166 rows x 2 columns]