In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
[[0,1,2,3,4],[5,6,7,8,9],[10,11,12,13,14]]

[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

In [3]:
df1 = DataFrame(np.arange(3*5).reshape(3,5), columns=['c1','c2','c3','c4','c5'])

In [4]:
df1

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [5]:
df1 = DataFrame([[0,1,2,3,4],[5,6,7,8,9],[10,11,12,13,14]], columns=['c1','c2','c3','c4','c5'])

In [6]:
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [7]:
np.random.randint(0,15,5*3).reshape(3,5)

array([[14, 11,  8,  3,  6],
       [ 6, 10,  3, 14, 10],
       [14, 10,  9, 11,  9]])

In [8]:
df1['c6']=df1['c3']+df1['c4']

In [9]:
df1

   c1  c2  c3  c4  c5  c6
0   0   1   2   3   4   5
1   5   6   7   8   9  15
2  10  11  12  13  14  25

In [10]:
df1['c7']=df1['c6']-df1['c2']

In [11]:
df1

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   5   4
1   5   6   7   8   9  15   9
2  10  11  12  13  14  25  14

In [12]:
df4 = df1

In [13]:
nc = df4.ix[2]
nc

c1    10
c2    11
c3    12
c4    13
c5    14
c6    25
c7    14
Name: 2, dtype: int64

In [14]:
df4 = df4.append(nc+nc,ignore_index=True) #ignore_index ignora el nombre de la serie nc y continua con la secuencia del index

In [15]:
df4[ ["c1","c6"] ]

   c1  c6
0   0   5
1   5  15
2  10  25
3  20  50

In [16]:
listcolumns = ["c"+str(x) for x in [2,3,4]]

In [17]:
df4[["c"+str(x) for x in [2,3,4]]]

   c2  c3  c4
0   1   2   3
1   6   7   8
2  11  12  13
3  22  24  26

In [18]:
l1 = range(10)

In [19]:
l1[1:4]

[1, 2, 3]

In [20]:
df4.columns[1]

'c2'

In [21]:
df4[df4.columns[1]]

0     1
1     6
2    11
3    22
Name: c2, dtype: int64

### Seleccionar filas

In [22]:
df4[ [True,False,False,False] ]

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   5   4

In [23]:
df4.ix(1)

In [24]:
df4['c2']>2

0    False
1     True
2     True
3     True
Name: c2, dtype: bool

In [25]:
lb = [False for x in range(4)]

In [26]:
lb

[False, False, False, False]

In [27]:
lb[1]=True

In [28]:
df4[lb]

   c1  c2  c3  c4  c5  c6  c7
1   5   6   7   8   9  15   9

### Applymap

In [29]:
def sumOne(integer):
    return integer + 1

In [30]:
df4.applymap(sumOne)

   c1  c2  c3  c4  c5  c6  c7
0   1   2   3   4   5   6   5
1   6   7   8   9  10  16  10
2  11  12  13  14  15  26  15
3  21  23  25  27  29  51  29

In [32]:
def minimo(s):
    return Series([s.max(),s.min()])
df4.apply(minimo)

   c1  c2  c3  c4  c5  c6  c7
0  20  22  24  26  28  50  28
1   0   1   2   3   4   5   4

In [99]:
df = df4.drop(3)

In [108]:
def minmax(s):
    return s.min()

df4.apply(minmax, axis = 1)

0     0
1     5
2    10
3    20
dtype: int64