In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
df = pd.read_csv('/home/dsc/Downloads/Proyecto/Censo_de_locales/tmp/listado2015.csv', sep=',')

In [3]:
df.sample(5)

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,desc_tipo_acceso_local,id_situacion_local,...,cal_acceso,coordenada_x_agrupacion,coordenada_y_agrup,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo
77598,285012656,7,CHAMBERI,703,TRAFALGAR,72,441063.703,4475743.021,Puerta Calle,1,...,,0,0,0,0.0,0,0.0,0.0,0.0,HOTEL INNSIDE MADRID GENOVA
82523,285020729,12,USERA,1202,ORCASUR,20,440658.286,4469315.910,Puerta Calle,5,...,,0,0,0,0.0,0,0.0,0.0,0.0,SIN ACTIVIDAD
128211,280067019,20,SAN BLAS-CANILLEJAS,2005,ROSAS,115,449069.477,4475325.240,Puerta Calle,1,...,B,0,0,0,0.0,0,0.0,0.0,0.0,ASOCIACION DE VECINOS LAS ROSAS
5340,170001721,17,VILLAVERDE,1705,LOS ANGELES,74,441166.536,4467559.908,Puerta Calle,1,...,,0,0,0,0.0,0,0.0,0.0,0.0,LA BOUTIQUE DEL POLLO IV
29536,270532429,6,TETUAN,605,VALDEACEDERAS,126,441105.361,4479865.626,Puerta Calle,1,...,,0,0,0,0.0,0,0.0,0.0,0.0,TINTORERIA LOS ROSALES

In [ ]:
len(df)

In [ ]:
df.info()

In [ ]:
df.count()

In [ ]:
df.drop(df.columns[df.count()==0], axis=1, inplace=True)

In [ ]:
df.count()

In [ ]:
df.sample(5)

In [ ]:
df.coordenada_x_local.dtype

In [ ]:
df.fillna(0.0, inplace=True)

In [ ]:
df.count()

In [ ]:
df.to_csv('/home/dsc/Downloads/Proyecto/Censo_de_locales/tmp/listado2015_2.csv')

In [4]:
df['desc_barrio_local'].str.contains('Ã‘').sum()

4101

In [ ]:
df.dtypes

In [ ]:
df.columns = [c.lower() for c in df.columns]

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://dsc:master@localhost:5432/locales')

In [8]:
df.to_sql("locales2015",engine,if_exists='replace')