In [74]:
import numpy as np

In [1]:
import pandas as pd

In [77]:
from pandas import DataFrame, Series

In [19]:
a = np.array(np.arange(40))

In [20]:
a = a.reshape(10,4)

In [21]:
df = pd.DataFrame(a)

In [22]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23
6  24  25  26  27
7  28  29  30  31
8  32  33  34  35
9  36  37  38  39

In [23]:
df.columns=['a','b','c','d']

In [24]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23
6  24  25  26  27
7  28  29  30  31
8  32  33  34  35
9  36  37  38  39

In [67]:
df.ix[:6:2]

0     1
2     9
4    17
6    25
Name: b, dtype: int64

In [73]:
df.reindex(columns=['a','b','c'],[0,1])

SyntaxError: non-keyword arg after keyword arg (<ipython-input-73-e256554ae7a8>, line 1)

In [79]:
a = Series(np.random.rand(3),np.random.rand(3))

In [80]:
type(a)

pandas.core.series.Series

In [81]:
!ls -al

total 616
drwxrwxr-x. 3 dsc dsc   4096 dic 15 23:45 .
drwxrwxr-x. 4 dsc dsc   4096 dic 11 17:14 ..
-rw-rw-r--. 1 dsc dsc    792 dic 11 21:46 fichero.json
drwxr-xr-x. 2 dsc dsc   4096 dic 15 19:41 .ipynb_checkpoints
-rw-rw-r--. 1 dsc dsc 143595 dic 12 10:51 Panda. Ejercicios y graficos.ipynb
-rw-rw-r--. 1 dsc dsc  95093 dic 14 18:24 Pandas Ejercicios dia 2.ipynb
-rw-rw-r--. 1 dsc dsc 249594 dic 15 23:45 Pandas Getting Started.ipynb
-rw-rw-r--. 1 dsc dsc  21017 dic 11 21:30 salida.csv
-rw-rw-r--. 1 dsc dsc  79872 dic 11 21:34 salida.xls
-rw-rw-r--. 1 dsc dsc   9397 dic 15 23:28 Untitled.ipynb

In [82]:
df = pd.read_csv('/home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.csv')

/usr/lib64/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [83]:
df.count()

Year                  469968
Quarter               469968
Month                 469968
DayofMonth            469968
DayOfWeek             469968
FlightDate            469968
UniqueCarrier         469968
AirlineID             469968
Carrier               469968
TailNum               467186
FlightNum             469968
OriginAirportID       469968
OriginAirportSeqID    469968
OriginCityMarketID    469968
Origin                469968
OriginCityName        469968
OriginState           469968
OriginStateFips       469968
OriginStateName       469968
OriginWac             469968
DestAirportID         469968
DestAirportSeqID      469968
DestCityMarketID      469968
Dest                  469968
DestCityName          469968
DestState             469968
DestStateFips         469968
DestStateName         469968
DestWac               469968
CRSDepTime            469968
                       ...
Div2WheelsOn              27
Div2TotalGTime            27
Div2LongestGTime          27
Div2WheelsOff              9
Div2TailNum                9
Div3Airport                2
Div3AirportID              2
Div3AirportSeqID           2
Div3WheelsOn               2
Div3TotalGTime             2
Div3LongestGTime           2
Div3WheelsOff              0
Div3TailNum                0
Div4Airport                0
Div4AirportID              0
Div4AirportSeqID           0
Div4WheelsOn               0
Div4TotalGTime             0
Div4LongestGTime           0
Div4WheelsOff              0
Div4TailNum                0
Div5Airport                0
Div5AirportID              0
Div5AirportSeqID           0
Div5WheelsOn               0
Div5TotalGTime             0
Div5LongestGTime           0
Div5WheelsOff              0
Div5TailNum                0
Unnamed: 109               0
dtype: int64

In [84]:
df[df.count()>2000]

/usr/lib64/python2.7/site-packages/pandas/core/frame.py:1825: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

IndexingError: Unalignable boolean Series key provided

In [85]:
df.count()>2000

Year                   True
Quarter                True
Month                  True
DayofMonth             True
DayOfWeek              True
FlightDate             True
UniqueCarrier          True
AirlineID              True
Carrier                True
TailNum                True
FlightNum              True
OriginAirportID        True
OriginAirportSeqID     True
OriginCityMarketID     True
Origin                 True
OriginCityName         True
OriginState            True
OriginStateFips        True
OriginStateName        True
OriginWac              True
DestAirportID          True
DestAirportSeqID       True
DestCityMarketID       True
Dest                   True
DestCityName           True
DestState              True
DestStateFips          True
DestStateName          True
DestWac                True
CRSDepTime             True
                      ...
Div2WheelsOn          False
Div2TotalGTime        False
Div2LongestGTime      False
Div2WheelsOff         False
Div2TailNum           False
Div3Airport           False
Div3AirportID         False
Div3AirportSeqID      False
Div3WheelsOn          False
Div3TotalGTime        False
Div3LongestGTime      False
Div3WheelsOff         False
Div3TailNum           False
Div4Airport           False
Div4AirportID         False
Div4AirportSeqID      False
Div4WheelsOn          False
Div4TotalGTime        False
Div4LongestGTime      False
Div4WheelsOff         False
Div4TailNum           False
Div5Airport           False
Div5AirportID         False
Div5AirportSeqID      False
Div5WheelsOn          False
Div5TotalGTime        False
Div5LongestGTime      False
Div5WheelsOff         False
Div5TailNum           False
Unnamed: 109          False
dtype: bool

In [86]:
columnas = df.count>2000

In [87]:
columnas

True

In [92]:
cuentas = df.count()

In [93]:
cuentas

Year                  469968
Quarter               469968
Month                 469968
DayofMonth            469968
DayOfWeek             469968
FlightDate            469968
UniqueCarrier         469968
AirlineID             469968
Carrier               469968
TailNum               467186
FlightNum             469968
OriginAirportID       469968
OriginAirportSeqID    469968
OriginCityMarketID    469968
Origin                469968
OriginCityName        469968
OriginState           469968
OriginStateFips       469968
OriginStateName       469968
OriginWac             469968
DestAirportID         469968
DestAirportSeqID      469968
DestCityMarketID      469968
Dest                  469968
DestCityName          469968
DestState             469968
DestStateFips         469968
DestStateName         469968
DestWac               469968
CRSDepTime            469968
                       ...
Div2WheelsOn              27
Div2TotalGTime            27
Div2LongestGTime          27
Div2WheelsOff              9
Div2TailNum                9
Div3Airport                2
Div3AirportID              2
Div3AirportSeqID           2
Div3WheelsOn               2
Div3TotalGTime             2
Div3LongestGTime           2
Div3WheelsOff              0
Div3TailNum                0
Div4Airport                0
Div4AirportID              0
Div4AirportSeqID           0
Div4WheelsOn               0
Div4TotalGTime             0
Div4LongestGTime           0
Div4WheelsOff              0
Div4TailNum                0
Div5Airport                0
Div5AirportID              0
Div5AirportSeqID           0
Div5WheelsOn               0
Div5TotalGTime             0
Div5LongestGTime           0
Div5WheelsOff              0
Div5TailNum                0
Unnamed: 109               0
dtype: int64

In [97]:
abundantes = cuentas[cuentas > 2000]

In [101]:
type(abundantes)

pandas.core.series.Series

In [98]:
abundantes

Year                  469968
Quarter               469968
Month                 469968
DayofMonth            469968
DayOfWeek             469968
FlightDate            469968
UniqueCarrier         469968
AirlineID             469968
Carrier               469968
TailNum               467186
FlightNum             469968
OriginAirportID       469968
OriginAirportSeqID    469968
OriginCityMarketID    469968
Origin                469968
OriginCityName        469968
OriginState           469968
OriginStateFips       469968
OriginStateName       469968
OriginWac             469968
DestAirportID         469968
DestAirportSeqID      469968
DestCityMarketID      469968
Dest                  469968
DestCityName          469968
DestState             469968
DestStateFips         469968
DestStateName         469968
DestWac               469968
CRSDepTime            469968
                       ...
DepTimeBlk            469968
TaxiOut               458092
WheelsOff             458092
WheelsOn              457697
TaxiIn                457697
CRSArrTime            469968
ArrTime               457697
ArrDelay              457013
ArrDelayMinutes       457013
ArrDel15              457013
ArrivalDelayGroups    457013
ArrTimeBlk            469968
Cancelled             469968
CancellationCode       11982
Diverted              469968
CRSElapsedTime        469968
ActualElapsedTime     457013
AirTime               457013
Flights               469968
Distance              469968
DistanceGroup         469968
CarrierDelay           95951
WeatherDelay           95951
NASDelay               95951
SecurityDelay          95951
LateAircraftDelay      95951
FirstDepTime            2895
TotalAddGTime           2895
LongestAddGTime         2895
DivAirportLandings    469968
dtype: int64

In [100]:
abundantes.index

Index([u'Year', u'Quarter', u'Month', u'DayofMonth', u'DayOfWeek',
       u'FlightDate', u'UniqueCarrier', u'AirlineID', u'Carrier', u'TailNum',
       u'FlightNum', u'OriginAirportID', u'OriginAirportSeqID',
       u'OriginCityMarketID', u'Origin', u'OriginCityName', u'OriginState',
       u'OriginStateFips', u'OriginStateName', u'OriginWac', u'DestAirportID',
       u'DestAirportSeqID', u'DestCityMarketID', u'Dest', u'DestCityName',
       u'DestState', u'DestStateFips', u'DestStateName', u'DestWac',
       u'CRSDepTime', u'DepTime', u'DepDelay', u'DepDelayMinutes', u'DepDel15',
       u'DepartureDelayGroups', u'DepTimeBlk', u'TaxiOut', u'WheelsOff',
       u'WheelsOn', u'TaxiIn', u'CRSArrTime', u'ArrTime', u'ArrDelay',
       u'ArrDelayMinutes', u'ArrDel15', u'ArrivalDelayGroups', u'ArrTimeBlk',
       u'Cancelled', u'CancellationCode', u'Diverted', u'CRSElapsedTime',
       u'ActualElapsedTime', u'AirTime', u'Flights', u'Distance',
       u'DistanceGroup', u'CarrierDelay', u'WeatherDelay', u'NASDelay',
       u'SecurityDelay', u'LateAircraftDelay', u'FirstDepTime',
       u'TotalAddGTime', u'LongestAddGTime', u'DivAirportLandings'],
      dtype='object')

In [103]:
df=df[abundantes.index]

In [104]:
df.sample(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings
2111,2015,1,1,19,1,2015-01-19,AA,19805,AA,N514AA,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
317021,2015,1,1,9,5,2015-01-09,UA,19977,UA,N825UA,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
83066,2015,1,1,5,1,2015-01-05,DL,19790,DL,N3757D,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
359624,2015,1,1,18,7,2015-01-18,DL,19790,DL,N944DL,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
352925,2015,1,1,20,2,2015-01-20,DL,19790,DL,N3751B,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [127]:
df.columns

Index([u'Year', u'Quarter', u'Month', u'DayofMonth', u'DayOfWeek',
       u'FlightDate', u'UniqueCarrier', u'AirlineID', u'Carrier', u'TailNum',
       u'FlightNum', u'OriginAirportID', u'OriginAirportSeqID',
       u'OriginCityMarketID', u'Origin', u'OriginCityName', u'OriginState',
       u'OriginStateFips', u'OriginStateName', u'OriginWac', u'DestAirportID',
       u'DestAirportSeqID', u'DestCityMarketID', u'Dest', u'DestCityName',
       u'DestState', u'DestStateFips', u'DestStateName', u'DestWac',
       u'CRSDepTime', u'DepTime', u'DepDelay', u'DepDelayMinutes', u'DepDel15',
       u'DepartureDelayGroups', u'DepTimeBlk', u'TaxiOut', u'WheelsOff',
       u'WheelsOn', u'TaxiIn', u'CRSArrTime', u'ArrTime', u'ArrDelay',
       u'ArrDelayMinutes', u'ArrDel15', u'ArrivalDelayGroups', u'ArrTimeBlk',
       u'Cancelled', u'CancellationCode', u'Diverted', u'CRSElapsedTime',
       u'ActualElapsedTime', u'AirTime', u'Flights', u'Distance',
       u'DistanceGroup', u'CarrierDelay', u'WeatherDelay', u'NASDelay',
       u'SecurityDelay', u'LateAircraftDelay', u'FirstDepTime',
       u'TotalAddGTime', u'LongestAddGTime', u'DivAirportLandings'],
      dtype='object')

In [105]:
df.columns.str.contains('Origin')

array([False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False], dtype=bool)

In [107]:
columorigin = df.columns.str.contains('Origin')

In [121]:
columorigin

array([False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False], dtype=bool)

In [118]:
df.columns[df.columns.str.contains('Origin')]

Index([u'OriginAirportID', u'OriginAirportSeqID', u'OriginCityMarketID',
       u'Origin', u'OriginCityName', u'OriginState', u'OriginStateFips',
       u'OriginStateName', u'OriginWac'],
      dtype='object')

In [3]:
pd.__version__

'0.16.2'